@charset "utf-8";
* {
    font-family: Segoe UI, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-weight: 300;
}

body {
    background: #fcd8d8;
    text-align: center;
    margin: auto;
}

.button {
    background-color: #0783ef;
    border-radius: 50px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px;
}

.button:hover {
    box-shadow: 0 0 5px 0 rgb(0, 0, 0.5);
}

.sasha {
    background-color: red;
    border-radius: 50px;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
    font-size: 15px;
    color: white;

}

.sasha:hover {
    box-shadow: 0 0 4px 0 black;
}
